body{
    background-image: url("california-flag-logan.png");
    background-size: cover;
}
.title{
    text-align: center;
}
.box{
    background-color: whitesmoke;
}
button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
}