body{
    background-image: url("california-flag-logan.png");
    background-size: cover;
}
.title{
    text-align: center;
}
.box{
    background-color: whitesmoke;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
}